[LayoutSettings]
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=d5441eb5-29b5-431d-be13-add79e5381f5
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
version=2
