[LayoutSettings]
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=19923eef-3020-4c35-8391-0dab1d0f9d34
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
version=2
