[Containments][1][Applets][322][Configuration]
PreloadWeight=84

[Containments][1][Applets][323][Configuration]
PreloadWeight=0

[Containments][1][Applets][362][Configuration]
PreloadWeight=67

[LayoutSettings]
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=0ba053fc-13f0-4749-8a36-9cd4eab76693
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
version=2
