[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[LayoutSettings]
activities={0}
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=false
icon=
lastUsedActivity=d5441eb5-29b5-431d-be13-add79e5381f5
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=false
version=2
