[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=4
name=
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][269]
immutability=1
plugin=org.kde.plasma.betterinlineclock

[Containments][1][Applets][269][Configuration]
PreloadWeight=10

[Containments][1][Applets][269][Configuration][Appearance]
fixedFont=true
fontSize=13

[Containments][1][Applets][269][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][1][Applets][4][Configuration]
PreloadWeight=83

[Containments][1][Applets][4][Configuration][General]
favorites=preferred://browser,systemsettings.desktop,org.kde.dolphin.desktop,org.kde.kate.desktop,org.kde.discover.desktop
favoritesPortedToKAstats=true

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][5][Configuration]
PreloadWeight=30
SystrayContainmentId=6

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration]
PreloadWeight=10

[Containments][1][Applets][57][Configuration][General]
hoverAction=PreviewAndHighlightWindows
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop,applications:com.obsproject.Studio.desktop,applications:pycharm.desktop

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=10

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=4;57;5;269
autoDecreaseIconSize=false
backgroundRadius=43
blurEnabled=false
iconMargin=0
iconSize=48
maxLength=90
panelPosition=10
panelSize=100
panelTransparency=78
screenEdgeMargin=8
shadowOpacity=35
shadowSize=45
shadowsUpgraded=true
showGlow=false
splitterPosition=3
splitterPosition2=4
tasksUpgraded=true
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][6]
PreloadWeight=10
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=4
plugin=org.kde.plasma.private.systemtray
popupHeight=432
popupWidth=432
wallpaperplugin=org.kde.image

[Containments][6][Applets][10]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][6][Applets][10][Configuration]
PreloadWeight=10

[Containments][6][Applets][11]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][6][Applets][11][Configuration]
PreloadWeight=10

[Containments][6][Applets][12]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][6][Applets][12][Configuration]
PreloadWeight=10

[Containments][6][Applets][13]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][6][Applets][13][Configuration]
PreloadWeight=20

[Containments][6][Applets][14]
immutability=1
plugin=org.kde.plasma.battery

[Containments][6][Applets][14][Configuration]
PreloadWeight=15

[Containments][6][Applets][16]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][6][Applets][16][Configuration]
PreloadWeight=10

[Containments][6][Applets][17]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][6][Applets][17][Configuration]
PreloadWeight=10

[Containments][6][Applets][262]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][6][Applets][262][Configuration]
PreloadWeight=10

[Containments][6][Applets][263]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][6][Applets][263][Configuration]
PreloadWeight=10

[Containments][6][Applets][264]
immutability=1
plugin=org.kde.plasma.vault

[Containments][6][Applets][264][Configuration]
PreloadWeight=10

[Containments][6][Applets][265]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][6][Applets][265][Configuration]
PreloadWeight=10

[Containments][6][Applets][266]
immutability=1
plugin=org.kde.kalendar.contact

[Containments][6][Applets][266][Configuration]
PreloadWeight=10

[Containments][6][Applets][267]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][6][Applets][267][Configuration]
PreloadWeight=10

[Containments][6][Applets][268]
immutability=1
plugin=org.kde.ktp-contactlist

[Containments][6][Applets][268][Configuration]
PreloadWeight=10

[Containments][6][Applets][302]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][6][Applets][302][Configuration]
PreloadWeight=34

[Containments][6][Applets][43]
immutability=1
plugin=org.kde.discovernotifier

[Containments][6][Applets][7]
immutability=1
plugin=org.kde.kdeconnect

[Containments][6][Applets][7][Configuration]
PreloadWeight=10

[Containments][6][Applets][9]
immutability=1
plugin=org.kde.plasma.volume

[Containments][6][Applets][9][Configuration]
PreloadWeight=10

[Containments][6][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardlayout,org.kde.plasma.vault,org.kde.plasma.manage-inputmethod,org.kde.kalendar.contact,org.kde.plasma.keyboardindicator
knownItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardlayout,org.kde.plasma.vault,org.kde.plasma.manage-inputmethod,org.kde.kalendar.contact,org.kde.plasma.keyboardindicator

[LayoutSettings]
activities=
backgroundStyle=0
color=lightskyblue
customBackground=
customTextColor=
globalLaunchers=
icon=
lastUsedActivity=553262c8-30b4-46b9-a735-1d081a12e70d
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
